# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AS_ML\exp_5\exp_5_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
